@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="style.css" />
</head>
<body>
    <div class="desktop">
        <div class="div">
            <img class="image" src="img/image-2.png" />
            <div class="overlap">
                <div class="overlap-group">
                    <div class="overlap-2">
                        <img class="img" src="img/image-3.png" />
                        <div class="text-wrapper">temperature</div>
                        <div class="text-wrapper-2">wind speed and direction</div>
                        <div class="text-wrapper-3">feels like temperature</div>
                    </div>
                    <div class="text-wrapper-4">10℃</div>
                    <div class="text-wrapper-5">10℃</div>
                </div>
                <div class="text-wrapper-6">3m/s</div>
            </div>
            <div class="overlap-3">
                <div class="text-wrapper-7">today in lahti</div>
                <div class="group">
                    <div class="div-wrapper"><div class="text-wrapper-8">back to city selection</div></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

