/* Desktop - 1 */

position: relative;
width: 1440px;
height: 1024px;

background: #8292AC;


/* Rectangle 85 */

position: absolute;
width: 2353.71px;
height: 433.29px;
left: -467px;
top: 614.18px;

background: #FFFFFD;
border-radius: 216.645px;
transform: rotate(-3deg);


/* Group 692 */

position: absolute;
width: 577.8px;
height: 512.8px;
left: 477.8px;
top: 467px;

transform: matrix(-1, 0, 0, 1, 0, 0);


/* sunny */

position: absolute;
width: 307px;
height: 300px;
left: 294px;
top: 467px;

transform: matrix(-1, 0, 0, 1, 0, 0);


/* Rectangle 42 */

position: absolute;
left: 100%;
right: -100%;
top: 0%;
bottom: 0%;

transform: matrix(-1, 0, 0, 1, 0, 0);


/* Group 675 */

position: absolute;
left: 75%;
right: -26.67%;
top: 25%;
bottom: 23.33%;

transform: matrix(-1, 0, 0, 1, 0, 0);


/* Ellipse 12 */

position: absolute;
left: 75%;
right: -26.67%;
top: 25%;
bottom: 23.33%;

/* sun */
background: radial-gradient(77.25% 77.25% at 69.89% 22.75%, #FFF72C 0%, #DF7800 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
filter: blur(25px);
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Ellipse 11 */

box-sizing: border-box;

position: absolute;
left: 66.67%;
right: -1.67%;
top: 33.33%;
bottom: 31.67%;

/* sun */
background: radial-gradient(77.25% 77.25% at 69.89% 22.75%, #FFF72C 0%, #DF7800 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
border: 1px solid #F1B04E;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Group 690 */

position: absolute;
width: 577.8px;
height: 509.6px;
left: 477.8px;
top: 470.2px;

transform: matrix(-1, 0, 0, 1, 0, 0);


/* rain */

position: absolute;
width: 372.05px;
height: 372.05px;
left: 386.81px;
top: 470.2px;

filter: blur(30px);
transform: matrix(-0.97, 0.24, 0.24, 0.97, 0, 0);


/* Group 679 */

position: absolute;
left: 93.39%;
right: -65.06%;
top: 19.91%;
bottom: 7.31%;

transform: matrix(-0.97, 0.24, 0.24, 0.97, 0, 0);


/* Group 658 */

position: absolute;
left: 93.39%;
right: -65.06%;
top: 19.91%;
bottom: 7.31%;

transform: matrix(-0.97, 0.24, 0.24, 0.97, 0, 0);


/* Ellipse 10 */

position: absolute;
visibility: hidden;
left: 76.37%;
right: 2.48%;
top: 25.08%;
bottom: 53.76%;

/* sun */
background: radial-gradient(77.25% 77.25% at 69.89% 22.75%, #FFF72C 0%, #DF7800 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
transform: matrix(-0.97, 0.24, 0.24, 0.97, 0, 0);


/* Group 647 */

position: absolute;
left: 93.39%;
right: -65.06%;
top: 19.91%;
bottom: 7.31%;

transform: matrix(-0.97, 0.24, 0.24, 0.97, 0, 0);


/* Ellipse 8 */

position: absolute;
left: 104.07%;
right: -62.87%;
top: 62.24%;
bottom: -5.71%;

background: linear-gradient(89.73deg, rgba(37, 70, 89, 0.3) 4.84%, rgba(2, 53, 83, 0.3) 109.55%);
opacity: 0.67;
filter: blur(22.5px);
transform: matrix(-0.83, -0.56, -0.56, 0.83, 0, 0);


/* Union */

position: absolute;
left: 81.48%;
right: -38.49%;
top: 27.27%;
bottom: 36.49%;

background: #FFFFFF;
/* iner awan */
box-shadow: inset -18px 11px 30px #FFFFFF, inset 8px -15px 30px rgba(0, 0, 0, 0.2);
transform: matrix(-0.97, 0.24, 0.24, 0.97, 0, 0);


/* Rectangle 27 */

position: absolute;
left: 58.57%;
right: 14.99%;
top: 44.57%;
bottom: 30.36%;

background: #FFFFFF;
/* iner awan */
box-shadow: inset -18px 11px 30px #FFFFFF, inset 8px -15px 30px rgba(0, 0, 0, 0.2);
border-radius: 105.5px 105.5px 105.5px 0px;
transform: rotate(-14.16deg);


/* Rectangle 26 */

position: absolute;
left: 63.16%;
right: -1.29%;
top: 31.89%;
bottom: 31.87%;

background: #FFFFFF;
/* iner awan */
box-shadow: inset -18px 11px 30px #FFFFFF, inset 8px -15px 30px rgba(0, 0, 0, 0.2);
border-radius: 105.5px 105.5px 105.5px 0px;
transform: matrix(-0.97, 0.24, 0.24, 0.97, 0, 0);


/* Rectangle 35 */

position: absolute;
left: 52.49%;
right: 42.99%;
top: 82.64%;
bottom: 11.34%;

/* gradasi air */
background: radial-gradient(92.86% 92.86% at 80% 0%, #008CB9 0%, #5CC4E5 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
transform: matrix(0.72, -0.7, -0.7, -0.72, 0, 0);


/* Rectangle 41 */

position: absolute;
left: 65.42%;
right: 30.06%;
top: 79.37%;
bottom: 14.6%;

/* gradasi air */
background: radial-gradient(92.86% 92.86% at 80% 0%, #008CB9 0%, #5CC4E5 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
transform: matrix(0.72, -0.7, -0.7, -0.72, 0, 0);


/* Rectangle 36 */

position: absolute;
left: 78.35%;
right: 17.13%;
top: 76.11%;
bottom: 17.86%;

/* gradasi air */
background: radial-gradient(92.86% 92.86% at 80% 0%, #008CB9 0%, #5CC4E5 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
transform: matrix(0.72, -0.7, -0.7, -0.72, 0, 0);


/* Rectangle 37 */

position: absolute;
left: 90.71%;
right: 4.77%;
top: 72.99%;
bottom: 20.98%;

/* gradasi air */
background: radial-gradient(92.86% 92.86% at 80% 0%, #008CB9 0%, #5CC4E5 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
transform: matrix(0.72, -0.7, -0.7, -0.72, 0, 0);


/* Rectangle 38 */

position: absolute;
left: 86.29%;
right: 9.19%;
top: 82.7%;
bottom: 11.27%;

/* gradasi air */
background: radial-gradient(92.86% 92.86% at 80% 0%, #008CB9 0%, #5CC4E5 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
transform: matrix(0.72, -0.7, -0.7, -0.72, 0, 0);


/* Rectangle 39 */

position: absolute;
left: 74.97%;
right: 20.51%;
top: 85.56%;
bottom: 8.41%;

/* gradasi air */
background: radial-gradient(92.86% 92.86% at 80% 0%, #008CB9 0%, #5CC4E5 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
transform: matrix(0.72, -0.7, -0.7, -0.72, 0, 0);


/* Rectangle 40 */

position: absolute;
left: 63.66%;
right: 31.82%;
top: 88.41%;
bottom: 5.56%;

/* gradasi air */
background: radial-gradient(92.86% 92.86% at 80% 0%, #008CB9 0%, #5CC4E5 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
transform: matrix(0.72, -0.7, -0.7, -0.72, 0, 0);


/* Rectangle 46 */

position: absolute;
left: 96.96%;
right: -96.96%;
top: 0%;
bottom: 0%;

transform: matrix(-0.97, 0.24, 0.24, 0.97, 0, 0);


/* rain */

position: absolute;
width: 395.98px;
height: 395.98px;
left: 283.95px;
top: 499px;

filter: blur(30px);
transform: matrix(-0.97, 0.24, 0.24, 0.97, 0, 0);


/* Group 679 */

position: absolute;
left: 93.39%;
right: -65.06%;
top: 19.91%;
bottom: 7.31%;

transform: matrix(-0.97, 0.24, 0.24, 0.97, 0, 0);


/* Group 658 */

position: absolute;
left: 93.39%;
right: -65.06%;
top: 19.91%;
bottom: 7.31%;

transform: matrix(-0.97, 0.24, 0.24, 0.97, 0, 0);


/* Ellipse 10 */

position: absolute;
visibility: hidden;
left: 76.37%;
right: 2.48%;
top: 25.08%;
bottom: 53.76%;

/* sun */
background: radial-gradient(77.25% 77.25% at 69.89% 22.75%, #FFF72C 0%, #DF7800 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
transform: matrix(-0.97, 0.24, 0.24, 0.97, 0, 0);


/* Group 647 */

position: absolute;
left: 93.39%;
right: -65.06%;
top: 19.91%;
bottom: 7.31%;

transform: matrix(-0.97, 0.24, 0.24, 0.97, 0, 0);


/* Ellipse 8 */

position: absolute;
left: 104.07%;
right: -62.87%;
top: 62.24%;
bottom: -5.71%;

background: linear-gradient(89.73deg, rgba(37, 70, 89, 0.3) 4.84%, rgba(2, 53, 83, 0.3) 109.55%);
opacity: 0.67;
filter: blur(22.5px);
transform: matrix(-0.83, -0.56, -0.56, 0.83, 0, 0);


/* Union */

position: absolute;
left: 81.48%;
right: -38.49%;
top: 27.27%;
bottom: 36.49%;

background: #FFFFFF;
/* iner awan */
box-shadow: inset -18px 11px 30px #FFFFFF, inset 8px -15px 30px rgba(0, 0, 0, 0.2);
transform: matrix(-0.97, 0.24, 0.24, 0.97, 0, 0);


/* Rectangle 27 */

position: absolute;
left: 58.57%;
right: 14.99%;
top: 44.57%;
bottom: 30.36%;

background: #FFFFFF;
/* iner awan */
box-shadow: inset -18px 11px 30px #FFFFFF, inset 8px -15px 30px rgba(0, 0, 0, 0.2);
border-radius: 105.5px 105.5px 105.5px 0px;
transform: rotate(-14.16deg);


/* Rectangle 26 */

position: absolute;
left: 63.16%;
right: -1.29%;
top: 31.89%;
bottom: 31.87%;

background: #FFFFFF;
/* iner awan */
box-shadow: inset -18px 11px 30px #FFFFFF, inset 8px -15px 30px rgba(0, 0, 0, 0.2);
border-radius: 105.5px 105.5px 105.5px 0px;
transform: matrix(-0.97, 0.24, 0.24, 0.97, 0, 0);


/* Rectangle 35 */

position: absolute;
left: 52.49%;
right: 42.99%;
top: 82.64%;
bottom: 11.34%;

/* gradasi air */
background: radial-gradient(92.86% 92.86% at 80% 0%, #008CB9 0%, #5CC4E5 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
transform: matrix(0.72, -0.7, -0.7, -0.72, 0, 0);


/* Rectangle 41 */

position: absolute;
left: 65.42%;
right: 30.06%;
top: 79.37%;
bottom: 14.6%;

/* gradasi air */
background: radial-gradient(92.86% 92.86% at 80% 0%, #008CB9 0%, #5CC4E5 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
transform: matrix(0.72, -0.7, -0.7, -0.72, 0, 0);


/* Rectangle 36 */

position: absolute;
left: 78.35%;
right: 17.13%;
top: 76.11%;
bottom: 17.86%;

/* gradasi air */
background: radial-gradient(92.86% 92.86% at 80% 0%, #008CB9 0%, #5CC4E5 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
transform: matrix(0.72, -0.7, -0.7, -0.72, 0, 0);


/* Rectangle 37 */

position: absolute;
left: 90.71%;
right: 4.77%;
top: 72.99%;
bottom: 20.98%;

/* gradasi air */
background: radial-gradient(92.86% 92.86% at 80% 0%, #008CB9 0%, #5CC4E5 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
transform: matrix(0.72, -0.7, -0.7, -0.72, 0, 0);


/* Rectangle 38 */

position: absolute;
left: 86.29%;
right: 9.19%;
top: 82.7%;
bottom: 11.27%;

/* gradasi air */
background: radial-gradient(92.86% 92.86% at 80% 0%, #008CB9 0%, #5CC4E5 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
transform: matrix(0.72, -0.7, -0.7, -0.72, 0, 0);


/* Rectangle 39 */

position: absolute;
left: 74.97%;
right: 20.51%;
top: 85.56%;
bottom: 8.41%;

/* gradasi air */
background: radial-gradient(92.86% 92.86% at 80% 0%, #008CB9 0%, #5CC4E5 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
transform: matrix(0.72, -0.7, -0.7, -0.72, 0, 0);


/* Rectangle 40 */

position: absolute;
left: 63.66%;
right: 31.82%;
top: 88.41%;
bottom: 5.56%;

/* gradasi air */
background: radial-gradient(92.86% 92.86% at 80% 0%, #008CB9 0%, #5CC4E5 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
transform: matrix(0.72, -0.7, -0.7, -0.72, 0, 0);


/* Rectangle 46 */

position: absolute;
left: 96.96%;
right: -96.96%;
top: 0%;
bottom: 0%;

transform: matrix(-0.97, 0.24, 0.24, 0.97, 0, 0);


/* weather in finland */

position: absolute;
width: 297px;
height: 104px;
left: 689px;
top: 558px;

font-family: 'Irish Grover';
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 77px;
text-align: center;

color: #8292AC;



/* team 8 */

position: absolute;
width: 224px;
height: 63px;
left: 1216px;
top: 961px;

font-family: 'Irish Grover';
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 77px;
text-align: center;

color: #FFFFFF;



/* Group 695 */

position: absolute;
width: 277px;
height: 85px;
left: 709px;
top: 842px;



/* Group 694 */

position: absolute;
width: 277px;
height: 85px;
left: 709px;
top: 842px;



/* Rectangle 86 */

position: absolute;
width: 277px;
height: 77px;
left: 709px;
top: 850px;

background: #8292AC;


/* go */

position: absolute;
width: 143px;
height: 15px;
left: 709px;
top: 842px;

font-family: 'Irish Grover';
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 77px;
text-align: center;

color: #FFFFFF;



/* Polygon 1 */

position: absolute;
width: 55px;
height: 51px;
left: 954px;
top: 861px;

background: #FFFFFD;
transform: rotate(90deg);


/* peter-zhang-0Y4WoiHGldU-unsplash 1 */

position: absolute;
width: 1453px;
height: 491px;
left: -7px;
top: 0px;

background: url(peter-zhang-0Y4WoiHGldU-unsplash);


/* Group 703 */

position: absolute;
width: 277px;
height: 83px;
left: 709px;
top: 726px;



/* Group 699 */

position: absolute;
width: 277px;
height: 83px;
left: 709px;
top: 726px;

filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));


/* Rectangle 86 */

position: absolute;
left: 0%;
right: 0%;
top: 7.23%;
bottom: 0%;

background: #8292AC;


/* city */

position: absolute;
left: 0%;
right: 40.07%;
top: 0%;
bottom: 86.75%;

font-family: 'Irish Grover';
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 77px;
text-align: center;

color: #FFFFFF;



/* Polygon 1 */

position: absolute;
left: 89.89%;
right: -9.75%;
top: 80.72%;
bottom: -42.17%;

background: #FFFFFD;
transform: rotate(-180deg);
