@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="style.css" />
</head>
<body>
    <div class="desktop">
        <div class="overlap-wrapper">
            <div class="overlap">
                <div class="rectangle"></div>
                <div class="group">
                    <div class="overlap-group">
                        <div class="sunny">
                            <div class="ellipse-wrapper"><div class="ellipse"></div></div>
                        </div>
                        <div class="overlap-group-wrapper">
                            <div class="div">
                                <div class="rain">
                                    <div class="div-wrapper">
                                        <div class="overlap-2">
                                            <div class="group-2">
                                                <div class="group-3">
                                                    <div class="union-wrapper"><img class="union" src="img/union.svg" /></div>
                                                </div>
                                            </div>
                                            <img class="img" src="img/rectangle-35.svg" />
                                            <img class="rectangle-2" src="img/rectangle-41.svg" />
                                            <img class="rectangle-3" src="img/rectangle-36.svg" />
                                            <img class="rectangle-4" src="img/rectangle-37.svg" />
                                            <img class="rectangle-5" src="img/rectangle-38-2.svg" />
                                            <img class="rectangle-6" src="img/rectangle-39.svg" />
                                            <img class="rectangle-7" src="img/rectangle-40.svg" />
                                        </div>
                                    </div>
                                </div>
                                <div class="group-wrapper">
                                    <div class="group-4">
                                        <div class="overlap-3">
                                            <div class="group-5">
                                                <div class="group-6">
                                                    <div class="img-wrapper"><img class="union-2" src="img/union-2.svg" /></div>
                                                </div>
                                            </div>
                                            <img class="rectangle-8" src="img/rectangle-35-2.svg" />
                                            <img class="rectangle-9" src="img/rectangle-41-2.svg" />
                                            <img class="rectangle-10" src="img/rectangle-36-2.svg" />
                                            <img class="rectangle-11" src="img/rectangle-37-2.svg" />
                                            <img class="rectangle-12" src="img/rectangle-38.svg" />
                                            <img class="rectangle-13" src="img/rectangle-39-2.svg" />
                                            <img class="rectangle-14" src="img/image.svg" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-wrapper">weather in finland</div>
                <div class="text-wrapper-2">team 8</div>
                <div class="group-7">
                    <div class="overlap-4">
                        <div class="group-8">
                            <div class="overlap-group-2">
                                <div class="rectangle-15"></div>
                                <div class="text-wrapper-3">go</div>
                            </div>
                        </div>
                        <img class="polygon" src="img/polygon-1-2.svg" />
                    </div>
                </div>
                <img class="peter-zhang" src="img/peter-zhang-0y4woihgldu-unsplash-1.png" />
                <div class="group-9">
                    <div class="group-10">
                        <div class="overlap-group-3">
                            <div class="rectangle-16"></div>
                            <div class="text-wrapper-4">city</div>
                            <img class="polygon-2" src="img/polygon-1.svg" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
